/*
002
html5doctor.com Reset Stylesheet
003
v1.6.1
004
Last Updated: 2010-09-17
005
Author: Richard Clark - http://richclarkdesign.com
006
Twitter: @rich_clark
007
*/
008
 
009
html, body, div, span, object, iframe,
010
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
011
abbr, address, cite, code,
012
del, dfn, em, img, ins, kbd, q, samp,
013
small, strong, sub, sup, var,
014
b, i,
015
dl, dt, dd, ol, ul, li,
016
fieldset, form, label, legend,
017
table, caption, tbody, tfoot, thead, tr, th, td,
018
article, aside, canvas, details, figcaption, figure,
019
footer, header, hgroup, menu, nav, section, summary,
020
time, mark, audio, video {
021
    margin:0;
022
    padding:0;
023
    border:0;
024
    outline:0;
025
    font-size:100%;
026
    vertical-align:baseline;
027
    background:transparent;
028
}
029
 
030
body {
031
    line-height:1;
032
}
033
 
034
article,aside,details,figcaption,figure,
035
footer,header,hgroup,menu,nav,section {
036
    display:block;
037
}
038
 
039
nav ul {
040
    list-style:none;
041
}
042
 
043
blockquote, q {
044
    quotes:none;
045
}
046
 
047
blockquote:before, blockquote:after,
048
q:before, q:after {
049
    content:'';
050
    content:none;
051
}
052
 
053
a {
054
    margin:0;
055
    padding:0;
056
    font-size:100%;
057
    vertical-align:baseline;
058
    background:transparent;
059
}
060
 
061
/* change colours to suit your needs */
062
ins {
063
    background-color:#ff9;
064
    color:#000;
065
    text-decoration:none;
066
}
067
 
068
/* change colours to suit your needs */
069
mark {
070
    background-color:#ff9;
071
    color:#000;
072
    font-style:italic;
073
    font-weight:bold;
074
}
075
 
076
del {
077
    text-decoration: line-through;
078
}
079
 
080
abbr[title], dfn[title] {
081
    border-bottom:1px dotted;
082
    cursor:help;
083
}
084
 
085
table {
086
    border-collapse:collapse;
087
    border-spacing:0;
088
}
089
 
090
/* change border colour to suit your needs */
091
hr {
092
    display:block;
093
    height:1px;
094
    border:0;
095
    border-top:1px solid #cccccc;
096
    margin:1em 0;
097
    padding:0;
098
}
099
 
100
input, select {
101
    vertical-align:middle;
102
}

/* CSS RESET　ここまでー*/

/* CSS font family*/
body{
  font-family: 'Noto Serif JP', serif;
}
/* CSS font family ここまでー*/

/*モーダル*/
#login-modal-wrapper{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}
  .modal-container{
    position: absolute;
    top: 10%;
    left: 15%;
    background-color: #f1f8d6;
    padding: 3rem 0 4rem;
    border-radius: 5%;
    width: 60%;
    height: auto;
  }
  .modal-container >h3{
    font-size: 1.3em;
    text-align: center;
    background-color: bisque;
    width:58%;
    padding:1em 1em;
    margin: 1rem auto;
  }
  .close-modal{
    text-align: left;
    color: rgba(0, 0, 0, 0.836);
    background-color: rgba(63, 62, 62, 0.151);
    cursor: pointer;
    border-radius: 20%;
    margin: 0 2em;
  }
  .form-box{
    text-align: center;
    background-color: pink;
    width:55%;
    margin: auto;
  }
  .name-input{
    padding:1rem 1rem;
  }
  .selecter{
    padding:1rem 1rem;
  }
  #submit-btn{
    margin:1rem 1rem;
  }
  .output{
    width:55%;
    padding:1rem 1rem;
    text-align: center;
    border: solid 1px rgb(98, 171, 255);
    border-radius: 10%;
    margin: 1em auto;
    
  }


/* grid layout 親*/
.grid-container {
  max-width: 1300px;
  margin:1em 1em;
  display: grid;
  grid-template-columns: 1fr 2fr 0.8fr 0.5fr 0.5fr;
  grid-template-rows: 0.3fr 0.3fr 0.3fr 0.5fr 2fr;
}

/*logo*/
.logo { 
  grid-area: 1 / 1 / 3 / 2;
  width:12em;
  height: 12em;
  background-image: url(logo.png);
  background-size: cover;
  background-position: center;
 }

/*aside*/
.aside { 
  grid-area: 4 / 5 / 5 / 6;
  background-color: red;
  cursor: pointer;
  transition-duration: 1s;
 }
 .aside:hover{
   background-color: yellow;
 }

#aside-items{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start:5;
  grid-row-end: 6; 
  background-color: rgba(239, 250, 253, 0.932); 
  text-align: center;
  display:none;
}
    .btn-twitter{
      display: block;
      font-size: 3em;
      color: rgb(72, 156, 252);
      margin: 0 auto;
      padding:1em 0;
    }
    .btn-blogger{
      display: block;
      font-size:3em;
      color: rgb(252, 191, 79);
      margin:0 auto;
    }

 /*red ball*/
.red-ball{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color:red;
  width:3em;
  height: 3em;
  border-radius:50%;
  z-index: 10;
  cursor: pointer;
}

/*main*/
.main-wrapper{
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  justify-content: space-between;

}
.main1 { 
  flex-basis: 30%;
  align-self: flex-end;
  padding-left: 3rem;
 }

.main2 { 
  flex-basis: 45%;
    writing-mode: vertical-rl; /* ここで縦書きに */
    position: relative;
    background-image: url(background.png);
    background-size: cover; 
}
.main-text h1{
  position: absolute;
  right:40%;
  font-size: 2.5em;
  line-height-step: 2em;
}
.main3 { 
  flex-basis: 25%;
  align-self: flex-end;
}

/*navi*/
.navi { 
  grid-area: 2 / 3 / 4 / 5; 
  background-color: rgba(161, 252, 252, 0.87);
  text-align: center;
  transition-duration: 1s;
}
.navi:hover{
  transform: skew(30deg);
}

/*login*/
.login { 
  grid-area: 1 / 4 / 3 / 6; 
  background-color: black;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  text-align: center;
  z-index: 10;
  box-shadow: 2px 3px 4px rgba(134, 133, 133, 0.76);
  cursor: pointer;
  transition-duration: 1s;
}
.login:hover{
  transform: scale(1.3, 1.5);
}

/*　アコーディオン*/
  .faq >h2{
    font-size: 1.5em;
  }
  .list-item h4{
    font-size:1.3em;
    padding:1rem 1rem;
    cursor: pointer;
    transition-duration: 1s;
  }
  .list-item h4:hover{
    transform: scaleX(1.5);
  }
  .answer{
    background-color: aliceblue;
    padding:1rem 1rem;
    border-radius: 15%;
    margin:5px 5px;
    display: none;
  }
/*アコーディオン終わ*/

/*footer */
.footer-logo{
  background-color: white;
}
.logo-img{
  display: block;
  width:auto;
  max-height: 300px;
  margin: 0 auto;
}
.footer-wrapper{
  display:flex;
  flex-direction: column;
}
.footer-right{
  flex: 1;
  order: 1;
  background-color: rgba(253, 253, 163, 0.911);
  text-align: center;
  position: relative;
}
.footer-left{
  flex: 1;
  order:2;
  display:flex;
  flex-direction: column;
}
    .news{
      flex: 2;
      text-align: center;
      background-color: rgba(161, 252, 252, 0.87);
      padding-bottom:1rem;
    }
    .news >h3{
      font-size: 1.5em;
      padding-bottom: 1rem;
    }
    .copyright{
      padding: 1rem 1rem;
      flex: 1;
      text-align: center;
      background-color: black;
      color: white;
      line-height: 1em;
    }


/*grid responsive*/
@media screen and (max-width:500px){
 .grid-container{
  display: grid;
  grid-template-columns: 1fr 2fr 0.8fr 0.5fr 0.5fr;
  grid-template-rows: 2.5em 2.5em 2.5em 0.5fr 2fr;
 }
  .logo, .login{
    width:5em;
    height: 5em;
  }
  .red-ball{
    width:1em;
    height: 1em;
  }
  .aside{
    height: 2em;
  }
  .main-wrapper{
    flex-direction: column;
    background-size: 80%;
  }
   .main1{
     flex-basis: 25%;
     order: 2;
     margin:1rem 0;
     text-align: center;
   }
   .main2{
     flex: 2;
     order: 1;
     text-align: center;
   }
   .main-text{
     height: 20rem;
   }
   .main3{
     flex: 25%;
     order: 3;
     margin:1rem 0;
     text-align: center;
   }
  .main-text h1{
    font-size: 2rem;
  }
  .logo-img{
    height: 10em;
  }

  
